html{
  background: #F2F5F8;
  width: 100%;
  height: 100%;
  font-family: 'M PLUS 1', sans-serif;
}

body{
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin: 0;
}

.page{
  background: #F2F5F8;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.page_log-in{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  border-radius: 14px;
  background: white;
  padding: 40px;
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 20px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  margin-bottom: 50px;
}

.card:last-child{
  margin-bottom: 0;
}


.card_modal {
  min-width: 300px;
}

.card_dashboard {
  min-width: 300px;
}

.card__header{
  display:flex;
  justify-content: center;
}

.card__header_action{
  justify-content: space-between;
}

.card__header-name{
  font-size: 25px;
  font-weight: 600;
}

.card__header-button{
  font-size: 15px;
  padding: 8px 10px 10px;
  border-radius: 5px;
  background: white;
  border: solid 1px #ababab;
  transition: 0.2s ease;
  font-weight: 600;
  outline: none;
}

.card__header-button:hover{
  background: #F2F5F8;
  cursor: pointer;
}


.card__header-name_moved{
  margin-top: 2px;
  margin-left: 10px;
}

.card__content{
  display: grid;
  grid-auto-rows: auto;
  grid-row-gap: 10px;
}

.card__input{
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: none;
  border-bottom: solid 1px #ababab;
}

.card__input:focus{
  border-bottom: solid 2px orange;
}

.card__input::placeholder { /* Most modern browsers support this now. */
  color: #ababab;
}


.card__button{
  font-size: 15px;
  background: orange;
  border: none;
  padding: 8px 10px 10px;
  border-radius: 5px;
  width: 100%;
  color: white;
}

.card__list-titles {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  display: flex;
}

.card__list-item{
  border-radius: 100px;
  padding: 20px;
  background: white;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  display: flex;
}

.card__list-item-chunk{
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 10px;
  width: 200px;
}

.card__list-item-chunk:first-child{
  width: 20px;
}

.card__list-item-chunk:last-child{
  flex-grow: 2;
  margin-right: 0;
}


.card__list-item-chunk_title{
  font-weight: 600;
  font-size: 18px;
}

.card__list-item:hover{
  background: #F2F5F8;
  cursor: pointer;
}

.card__task{
  text-align: left;
}

.card__task-row{
  display: flex;
  justify-content: space-between;
}

.card__task-block{
  margin-top: 15px;
  display: grid;
  grid-row-gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  border: solid 1px #ababab;
  text-align: center;
}

.card__task-block-name{
  font-weight: 600;
  text-align: left;
}

.card__task-index{
  width: 100px;
}

.card__close {
  position: absolute;
  top: 0;
  right: -40px;
}

.card__close:hover {
  cursor: pointer;
}

.header{
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.header__content{
  display: flex;
  align-items: center;
}

.header__logo{
  flex-grow: 2;
  display: flex;
}

.header__logo-name{
  font-size: 25px;
  font-weight: 600;
  margin-top: 2px;
  margin-left: 10px;
}

.header__user{
  border-radius: 14px;
  display: flex;
  align-items: center;
  background: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.header__user-name{
  font-weight: 600;
  margin-right: 10px;
  margin-bottom: 4px;
}

.header__user-logout{
  border-radius: 100px;
  padding: 8px;
  background: white;
  width: 40px;
  height: 40px;
  border: solid 1px #ababab;
  transition: 0.2s ease;
}

.header__user-logout:hover{
  background: #F2F5F8;
  cursor: pointer;
}

.header__breadcrumbs{
  display: flex;
}

.header__breadcrumbs-item{
  transition: 0.2s ease;
  font-weight: 600;
}

.header__breadcrumbs-item:hover{
  color: orange;
  cursor: pointer;
}

.header__breadcrumbs-separator{
  margin-left: 10px;
  margin-right: 10px;
  color: #ababab;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.tasks__item {
  border-radius: 14px;
  padding: 20px;
  background: white;
  border: solid 1px #ababab;
  text-align: left;
}

.tasks__item:last-child {
  background: orange;
  color: white;
  border: none;
}

.tasks__item-name{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.tasks__item-description{
  margin-top: 15px;
}

.tasks__item-block{
  margin-top: 15px;
}

.tasks__item-question{
  font-weight: 600;
}

.tasks__item-answer{
}

.review{
  border-radius: 14px;
  padding: 20px;
  background: white;
  border: solid 1px #ababab;
  text-align: left;
  display: grid;
  grid-row-gap: 15px;
}

.review__block{
}

.review__name{
  font-weight: 600;
}

.review__time{
  color: #808080;
  font-size: 12px;
}

.review__description{
  text-align: left;
}

.review__row{
  width: 100%;
  display: flex;
}

.review__input{
  flex-grow: 2;
  margin-right: 15px;
}

.review__button{
  width: 100px;
  margin-right: 5px;
}

.review__button_black{
  background: black;
}

.review__button:last-child{
  margin-right: 0;
}
